<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
     <title>Amavala </title>
    <style>
        @import 'https://fonts.googleapis.com/css?family=Pacifico';
        @import 'https://fonts.googleapis.com/css?family=Baloo+Bhai';
    </style> 
  <link rel="stylesheet" href="/bower_components/foundation/css/normalize.min.css" media="all" />
    <!-- load fontawesome -->
  <link rel="stylesheet" href="/bower_components/lato/css/lato.css" media="all" />
  <link rel="stylesheet" href="/bower_components/simple-line-icons/css/simple-line-icons.css" media="all" />
  <link rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.css" media="all" />
    <link rel="stylesheet" href="/bower_components/foundation/css/foundation.min.css" media="all" /> 
    <script src="/bower_components/foundation/js/vendor/modernizr.js"></script>
    <link rel="stylesheet" href="/css/app.css" media="all" />
    <script type="text/javascript" src="/js/main.js"></script>

    <div class="contain-to-grid-sticky fixed">
<nav class="top-bar" data-topbar role="navigation">
        <ul class="title-area">
          <li class="name">
             <h1><a href="/"><b><i>Amavala</i></b></a></h1>
             
          </li>
          <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
          <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
        </ul>
        <section class="top-bar-section">
          <!-- Right Nav Section -->
          <ul class="right">
                          <ul class="right ">
            <li><a class="page-scroll" href="#about">About us</a></li>
            <li><a class="page-scroll" href="/photoshoots">Photoshoots</a></li>
            <li><a class="page-scroll" href="/designers">Designers</a></li>
            <li><a class="page-scroll" href="/photography">Photography</a></li>
           <li><a class="page-scroll" href="/models">Models</a></li>
            <li><a href="/landing">Login</a></li> 
            <li><a href="#">Signup</a></li>
          </ul>
          <!-- Left Nav Section -->
          <ul class="left">
          </ul>
        </section>
      </nav>
    </div>
</head>

<body>
<div class="container">

<section id="home">
<div class="home">  
<div class="row">

<div class="large-12 columns" style="background-image">

<img src="/images/img9.jpg" height="800">

</div>
</div>
</div>
</section>

<section id="about">
<div class="container"> 
<div class="row">
  <div class="center">
<h4 class="text-center"><b><i>About us</i></b></h4>
</div>
<p>The top bar is a pretty complex piece of magical UI goodness. We rely on many presentational classes to define its look and feel, and there's a lot happening in the JS.If you have a hoverable topbar, it will close itself on click by default.The top bar is a pretty complex piece of magical UI goodness. We rely on many presentational classes to define its look and feel, and there's a lot happening in the JS. The top bar is hoverable by default, but you can change it to use click events instead by adding data-options="is_hover: false" to the <nav> element. If you have a hoverable topbar, it will close itself on click by default, but this behavior can be prevented by setting data-options="dropdown_autoclose: false". See an example below.The top bar is a pretty complex piece of magical UI goodness. We rely on many presentational classes to define its look and feel, and there's a lot happening in the JS. The top bar is hoverable by default, but you can change it to use click events instead by adding data-options="is_hover: false" to the <nav> element. If you have a hoverable topbar, it will close itself on click by default, but this behavior can be prevented by setting data-options="dropdown_autoclose: false". See an example below.The top bar is a pretty complex piece of magical UI goodness. We rely on many presentational classes to define its look and feel, and there's a lot happening in the JS.If you have a hoverable topbar, it will close itself on click by default.The top bar is a pretty complex piece of magical UI goodness. We rely on many presentational classes to define its look and feel, and there's a lot happening in the JS. The top bar is hoverable by default, but you can change it to use click events instead by adding data-options="is_hover: false"<a href="/"><i>View more.</i></a></p>
</div>
</div>

</section>

<section id="photo">
<div class="container">
<div class="row">
  <div class="large-4 columns">
<img src="/images/img.jpg">
</div>
<div class="large-4 columns">
<img src="/images/img3.jpg">
</div>
<div class="large-4 columns">
<img src="/images/img8.jpg">
</div>
</div>
</div>
</section>

<footer id="details">
    <footer class="clearfix container" role="contentinfo">
      <p class="copyright">
        Copyright &copy; 2016 <a href="#" title="eventr">amavala</a>. All rights reserved.<br>
        Use of this site indicates your acceptance of these <a href="/terms/">Terms of Use</a>.View our <a href="/privacy/">Privacy Policy</a>.
      </p>
    </footer>
</footer>
</div>
</body>
</html>
			
