<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Amavala </title>
    <style>
        @import 'https://fonts.googleapis.com/css?family=Pacifico';
        @import 'https://fonts.googleapis.com/css?family=Baloo+Bhai';
    </style> 
  <link rel="stylesheet" href="/bower_components/foundation/css/normalize.min.css" media="all" />
    <!-- load fontawesome -->
  <link rel="stylesheet" href="/bower_components/lato/css/lato.css" media="all" />
  <link rel="stylesheet" href="/bower_components/simple-line-icons/css/simple-line-icons.css" media="all" />
  <link rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.css" media="all" />
    <link rel="stylesheet" href="/bower_components/foundation/css/foundation.min.css" media="all" /> 
    <script src="/bower_components/foundation/js/vendor/modernizr.js"></script>
    <link rel="stylesheet" href="/css/app.css" media="all" />

    <div class="contain-to-grid-sticky fixed">
      <nav class="top-bar" data-topbar role="navigation">
        <ul class="title-area">
          <li class="name">
             <h1><a href="/"><b><i>amavala</i></b></a></h1>
             
          </li>
          <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
          <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
        </ul>
        <section class="top-bar-section">
          <!-- Right Nav Section -->
          <ul class="right">
            <li><input type="text" placeholder="search" id="search" name="search"/></li>
            <li><a class="page-scroll" href="#photo">Styles</a></li>
            <li><a class="page-scroll" href="#photo">Events</a></li>
            <li><a href="/profile">My Profile</a></li>
          </ul>
          <!-- Left Nav Section -->
          <ul class="left">
          </ul>
        </section>
      </nav>
    </div>
</head>
<body>
<div class="container">

<section id="content">
<div class="content">  
<div class="row">
<div class=" sidebar large-3 columns">
  <p><a href="#newposts"><i>New Posts</i></a></p>
  <p><a href="#usersposts"><i>Users</i></a></p>
  <p><a href="#follow"><i>Follow</i></a></p>
</div>
<div class=" large-3 columns">
  <p><a href="#newposts"><i></i></a></p>
</div>
<div class="large-6 columns">

                <div class="callout primary">
                    <div id="small_posts_body" class="row small_posts_list">
                        <div class="small-12 columns">
                            <div id="small_post_uname_div" class="small-9 columns">
                                <p><span>Sonofmary</span></a></p>
                            </div>
                            <div id="post_time_cont" class="small-3 columns">
                                <p id="small_post_time">3 days ago</p>
                            </div>

                            <div id="small_post_image" class="small-12 columns">
                                <img class="small_post_image" id="19" src="/images/img.jpg">
                            </div>
                            <div class="small-3 columns small_opinion">
                                                                    <i id="19" class="fa fa-heart-o like"></i>
                                    <span id="liked" class="likes_count">2</span>
                                                            </div>
                            <div id="19" class="small-6 columns small_opinion_comment">
                                <i id="19" class="fa fa-comment-o"></i> <span>View all 0 comments</span>
                            </div>
                            <div id="small_report" class="small-3 columns">
                                <i id="19" class="fa fa-ellipsis-h small_reporter"></i>
                            </div>
                        </div>
                      </div>
                      </div>

                <div class="callout primary">
                    <div id="small_posts_body" class="row small_posts_list">
                        <div class="small-12 columns">
                            <div id="small_post_uname_div" class="small-9 columns">
                                <p><span>Sonofmary</span></a></p>
                            </div>
                            <div id="post_time_cont" class="small-3 columns">
                                <p id="small_post_time">3 days ago</p>
                            </div>

                            <div id="small_post_image" class="small-12 columns">
                                <img class="small_post_image" id="19" src="/images/img8.jpg">
                            </div>
                            <div class="small-3 columns small_opinion">
                                                                    <i id="19" class="fa fa-heart-o like"></i>
                                    <span id="liked" class="likes_count">2</span>
                                                            </div>
                            <div id="19" class="small-6 columns small_opinion_comment">
                                <i id="19" class="fa fa-comment-o"></i> <span>View all 0 comments</span>
                            </div>
                            <div id="small_report" class="small-3 columns">
                                <i id="19" class="fa fa-ellipsis-h small_reporter"></i>
                            </div>
                        </div>
                      </div>
                      </div>
                
                <div class="callout primary">
                    <div id="small_posts_body" class="row small_posts_list">
                        <div class="small-12 columns">
                            <div id="small_post_uname_div" class="small-9 columns">
                                <p><span>Sonofmary</span></a></p>
                            </div>
                            <div id="post_time_cont" class="small-3 columns">
                                <p id="small_post_time">3 days ago</p>
                            </div>

                            <div id="small_post_image" class="small-12 columns">
                                <img class="small_post_image" id="19" src="/images/img3.jpg">
                            </div>
                            <div class="small-3 columns small_opinion">
                                                                    <i id="19" class="fa fa-heart-o like"></i>
                                    <span id="liked" class="likes_count">2</span>
                                                            </div>
                            <div id="19" class="small-6 columns small_opinion_comment">
                                <i id="19" class="fa fa-comment-o"></i> <span>View all 0 comments</span>
                            </div>
                            <div id="small_report" class="small-3 columns">
                                <i id="19" class="fa fa-ellipsis-h small_reporter"></i>
                            </div>
                        </div>
                      </div>
                      </div>

</div>
<div class="large-3 columns">

  </div>
</div>
</div>
</section>

</div>
</body>
</html>
      
