<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Amavala </title>
    <style>
        @import 'https://fonts.googleapis.com/css?family=Pacifico';
        @import 'https://fonts.googleapis.com/css?family=Baloo+Bhai';
    </style> 
  <link rel="stylesheet" href="/bower_components/foundation/css/normalize.min.css" media="all" />
    <!-- load fontawesome -->
  <link rel="stylesheet" href="/bower_components/lato/css/lato.css" media="all" />
  <link rel="stylesheet" href="/bower_components/simple-line-icons/css/simple-line-icons.css" media="all" />
  <link rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.css" media="all" />
    <link rel="stylesheet" href="/bower_components/foundation/css/foundation.min.css" media="all" /> 
    <script src="/bower_components/foundation/js/vendor/modernizr.js"></script>
    <link rel="stylesheet" href="/css/app.css" media="all" />

    <div class="contain-to-grid-sticky fixed">
      <nav class="top-bar" data-topbar role="navigation">
        <ul class="title-area">
          <li class="name">
             <h1><a href="/"><b><i>Amavala</i></b></a></h1>
             
          </li>
          <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
          <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
        </ul>
        <section class="top-bar-section">
          <!-- Right Nav Section -->
          <ul class="right">
            <li><input type="text" placeholder="search" id="search" name="search"/></li>
            <li><a class="page-scroll" href="#photo"> New Photoshoot</a></li>
          </ul>
          <!-- Left Nav Section -->
          <ul class="left">
          </ul>
        </section>
      </nav>
    </div>
</head>
<body>

<div class="container">

<section id="home">
<div class="home">  
<div class="row">
<div class="large-3 columns">
<img src="/images/avatar.jpg">
<p>Username</p>
<a class="tiny button" href="#">Edit profile</a>
<p><a href="#posts"><i>Posts (10)</i></a></p>
<p><a href="#followers"><i>Followers (15)</i></a></p>
<p><a href="/"><i>Following (20)</i></a></p>
<p><a href="/"><i>Photoshoots (3)</i></a></p>
</div>
<section id="#posts">
<div class="large-6 columns">
<p><b><i>posts here</i></b></p>
<img src="/images/img.jpg">
<img src="/images/img.jpg">
<img src="/images/img.jpg">
<img src="/images/img.jpg">
</div>
</section>
<div class="large-3 columns">
  </div>
</div>
</div>
</section>

</div>
</body>
</html>
      
